@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
      margin: 0;
      padding: 0;
      font-family: 'Ubuntu', sans-serif;
      box-sizing: border-box;
}
:root {
      --body-color: #f0f2f5;
      --nav-color: #1876f2;
      --bg-color: #ffffff;
      --bg-search-box-color: #fff;
}

.dark-mode {
      --body-color: #18191a;
      --nav-color: #242526;
      --bg-color: #242526;
      --bg-search-box-color: #3a3b3c;
}

body {
      background: var(--body-color);
      font-size: 14px;
      transition: background 0.3s;
}

a {
      text-decoration: none;
      color: #1876f2;
}

/* Navigation Menu
-------------------------------------------------*/
nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--nav-color);
      padding: 10px 45px;
      color: #fff;
      position: sticky;
      top: 0;
      z-index: 100;
}

.nav-left {
      display: flex;
      align-items: center;
      justify-content: center;
}

.nav-left .logo-site {
      font-size: clamp(1.15rem, 5vw, 2rem);
      margin-right: 45px;
      text-transform: uppercase;
}

.nav-left ul li {
      display: inline-block;
      list-style: none;
      margin-right: 30px;
      font-size: 18px;
}

.nav-left ul li:hover i {
      font-size: 22px;
}

.nav-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.nav-right .search-box {
      position: relative;
      text-align: center;
      margin-right: 30px;
      background: var(--bg-search-box-color);
      border-radius: 7px;
      width: 260px;
}

.nav-right input {
      padding: 7px 5px 7px 25px;
      border-radius: 7px;
      border: 0;
      outline: none;
      width: 100%;
      background: transparent;
}

.nav-right input::placeholder {
      font-style: italic;
      font-size: 12px;
      color: #9a9a9a;
}

.nav-right .search-box i {
      font-size: 12px;
      color: #9a9a9a;
}

.nav-right .search-icon {
      position: absolute;
      top: 6px;
      left: 6px;
}

.nav-right .nav-user-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border:  3px solid #999;
}

.nav-right .nav-user-icon img {
      width: 100%;
      border-radius: 50%;
}

.nav-right .nav-user-icon.online {
      position: relative;
}

.nav-right .nav-user-icon.online::after {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border: 2px solid #fff;
      border-radius: 50%;
      bottom: 0;
      right: 0;
      background: #41db51;
}

/* Page Content
--------------------------------------------------*/
.container {
      display: flex;
      justify-content: space-between;
      padding: 15px 2%;
}

.left-sidebar {
      /* background: #cbdffa; */
      flex-basis: 25%;
      position: sticky;
      top: 75px;
      align-self: flex-start;
      height: 100vh;
}

.right-sidebar {
      flex-basis: 25%;
      position: sticky;
      top: 75px;
      align-self: flex-start;
      height: 100vh;
      background: var(--bg-color);
      padding: 20px;
      border-radius: 4px;
      color: #626262;
      overflow: auto;
}

.main-content {
      flex-basis: 47%;
}

/* Left Sidebar 
---------------------------------------------------*/
.left-sidebar .imp-links,
.left-sidebar .shortcut-links {
      display: flex;
      flex-flow: column;
      /* padding: 20px 30px; */
      border-bottom: 1px solid #ccc;
}

.left-sidebar .imp-links a,
.left-sidebar .shortcut-links a {
      display: block;
      text-decoration: none;
      margin-bottom: 20px;
      font-size: 15px;
      width: fit-content;
      color: #626262;
}

.left-sidebar .imp-links a i {
      margin-right: 15px;
      color: #1876f2 !important;
      font-size: 20px;
}

.left-sidebar .imp-links a:last-child {
      color: #1876f2 !important;
}

.left-sidebar .shortcut-links p {
      margin-top: 10px;
      margin-bottom: 20px;
      color: #626262;
      font-weight: 600;
}

.left-sidebar .shortcut-links img {
      width: 25%;
      margin-right: 15px;
}

/* Right Sidebar
----------------------------------------------------*/
.right-sidebar .sidebar-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
}

.right-sidebar .sidebar-title h4 {
      font-weight: 600;
      font-size: 15px;
}

.right-sidebar .sidebar-title a {
      display: block;
      text-decoration: none;
      color: #1876f2;
      font-size: 12px;
}

.right-sidebar .event {
      display: flex;
      font-size: 14px;
      margin-bottom: 20px;
}

.right-sidebar .event .left-event {
      border-radius: 10px;
      height: 60px;
      width: 60px;
      margin-right: 25px;
      padding-top: 10px;
      text-align: center;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.right-sidebar .event .left-event span {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #fff;
      background: #1876f2;
      /* border-radius: 10px; */
      font-size: 12px;
      padding: 6px 0;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
}

.right-sidebar .event .right-event p {
      font-size: 12px;
      margin-bottom: 5px;
}

.right-sidebar .event .right-event a {
      color: #1876f2;
      font-size: 12px;
}

.right-sidebar .sidebar-ads {
      margin-bottom: 20px;
}

.right-sidebar .sidebar-ads .img-fluid {
      max-width: 100%;
      height: auto;
}

.right-sidebar .sidebar-conversation .sidebar-conversation-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
}

.right-sidebar .sidebar-conversation .sidebar-conversation-item .conversation-item-image {
      margin-right: 35px;
      position: relative;
}

.right-sidebar .sidebar-conversation .sidebar-conversation-item .conversation-item-image img {
    border-radius: 50%;
    border: 1px solid #aaa;
}

.right-sidebar .sidebar-conversation .sidebar-conversation-item .conversation-item-image .online-stick {
      position: absolute;
      bottom: 5px;
      right: 2px;
      width: 10px;
      height: 10px;
      background: #41db51;
      border-radius: 50%;
      border: 2px solid #aaa;
}

/* Main Content 
----------------------------------------------*/
.main-content .story-gallery {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      overflow: hidden;
}

.main-content .story-gallery .story-item {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      /* width: 118px;
      height: 200px; */
      flex-basis: 18%;
      padding-top: 32%;
      border-radius: 10px;
      margin-right: 15px;
}

.main-content .story-gallery .story-item-0 {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)),
      url(/image/story-image-0.png); 
}

.main-content .story-gallery .story-item-1 {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)),
      url(/image/story-image-1.png);
}

.main-content .story-gallery .story-item-2 {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)),
      url(/image/story-image-2.png);
}

.main-content .story-gallery .story-item-3 {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)),
      url(/image/story-image-3.png);
}

.main-content .story-gallery .story-item .story-item-image {
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 50%;
      border: 4px solid #1876f2;
}

.main-content .story-gallery .story-item .story-item-name {
      position: absolute;
      bottom: 10px;
      /* right: 20px; */
      color: #fff;
      font-size: 14px;
      width: 100%;
      text-align: center !important;
}

.main-content .story-gallery .story-item.story-item-0 i {
      color: #1876f2;
      font-size: 30px;
      position: absolute;
      top: unset;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      border: 2px solid #fff;
      border-radius: 50%;
}

.main-content .write-post-container {
      background: var(--bg-color);
      width: 100%;
      border-radius: 7px;
      padding: 20px;
      columns: #626262;
}

.main-content .user-profile {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.main-content .user-profile img {
      margin-right: 15px;
}

.main-content .user-profile p {
      color: #626262;
      font-weight: 500;
}

.main-content .user-profile small {
      font-size: 12px;
      color: #9a9a9a;
}

.main-content .user-profile span {
      font-size: 12px;
      color: #9a9a9a;
}

.main-content .write-post-container .post-input-container {
      width: 100%;
      margin-top: 5px;
      padding-left: 50px;
      /* margin-bottom: 20px; */
}

.main-content .write-post-container .post-input-container textarea {
      border: none;
      border-bottom: 1px solid #aaa;
      /* border-radius: 7px; */
      outline: none;
      width: 100%;
      padding-top: 5px;
      padding-left: 10px;
      background: transparent;
      color: #9a9a9a;
}

.main-content .write-post-container .post-input-container textarea::placeholder {
      font-style: italic;
      font-size: 13px;
}

.main-content .write-post-container .post-input-container .add-post-link {
      display: flex;
      align-items: center;
      margin-top: 12px;
}

.main-content .write-post-container .post-input-container .add-post-link a {
      display: block;
      margin-right: 20px;
      color: #626262;
}

.main-content .write-post-container .post-input-container .add-post-link a i {
      margin-right: 5px;
      font-size: 16px !important;
}

.main-content .post-container {
      width: 100%;
      color: #626262;
      margin-top: 20px;
}

.main-content .post-container .post-container-item {
      background: var(--bg-color);
      margin-bottom: 15px;
      width: 100%;
      padding: 20px;
}

.main-content .post-content {
      margin-top: 10px;
      text-align: justify;
      color: #9a9a9a;
}
.main-content .post-content .post-text {
      font-family: 15px;
}
.main-content .post-content .post-text a {
      font-style: italic;
}

.main-content .post-content .post-image {
      width: 100%;
      height: auto;
      margin-top: 10px;
      padding: 0px !important;
}

.main-content .user-profile .user-status {
      display: flex;
}

.main-content .user-post-more {
      font-size: 16px;
}

.main-content .post-info {
 margin-top: 10px;
}

.main-content .post-info .post-activity {
      display: flex;
      align-items: center;
}

.main-content .post-info .post-activity li {
      list-style: none;
      margin-right: 20px;
      font-size: 14px;
}

.main-content .post-info .post-activity li.active i {
      color: #1876f2;
}

.main-content .load-more-btn {
      display: block;
      text-align: center;
      text-transform: uppercase;
      color: #626262;
      font-size: 15px;
      padding: 5px 15px;
      border-radius: 7px;
      border: 1px solid #626262;
      background: transparent;
      margin: auto;
}

.setting-menu {
      position: absolute;
      top: 100%;
      right: 2%;
      background: var(--bg-color);
      width: 350px;
      padding: 10px 15px;
      border-radius: 7px;    
      display: none; 
}

.show-setting-menu {
      display: block;
}

.setting-menu .setting-menu-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.setting-menu .setting-menu-item .setting-menu-item-name {
      display: flex;
}

.setting-menu .setting-menu-item .setting-menu-item-name img {
      margin-right: 15px;
}

.setting-menu .setting-menu-item .setting-menu-item-name p {
      color: #626262;
      font-size: 15px;
}

#themeModeToggle.theme-mode-toggle {
      background: #ccc;
      width: 45px;
      height: 20px;
      border-radius: 15px;
      position: relative;
      transition: background 0.5s;
}

#themeModeToggle span {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 1px;
      left: 2px;
      background: #fff;
      border-radius: 50%;
      transition: 0.5s;
}

#themeModeToggle.theme-mode-toggle.dark-mode-active {
      background: #000;
}

#themeModeToggle.theme-mode-toggle.dark-mode-active span {
      right: 2px;
      left: auto;
}
